.roundButton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roundButtonCircle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgb(45, 45, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.roundButtonCircle:hover {
  background: rgb(56, 56, 56);
}